<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Map Editor"
            extensions="tmx"
            icon="icons/tiled-icon-16.gif"
            class="com.onpositive.mapper.editors.MapEditor"
            id="com.onpositive.mapper.editors.MapEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.onpositive.mapper"
            name="Mapper">
      </category>
      <view
            category="com.onpositive.mapper"
            class="com.onpositive.mapper.views.TilesetView"
            icon="icons/tiles-16.gif"
            id="com.onpositive.mapper.views.TilesetView"
            name="Tilesets">
      </view>
      <view
            category="com.onpositive.mapper"
            class="com.onpositive.mapper.views.LayerView"
            icon="icons/stack.png"
            id="com.onpositive.mapper.views.LayerView"
            name="Layer View">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.onpositive.mapper.perspective.MapperPerspective"
            icon="icons/tiled-icon-16.gif"
            id="com.onpositive.mapper.perspective"
            name="Tiled Map Editing ">
         <description>
            TMX file map editor
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.onpositive.mapper.mapCategory"
            name="Tiled Maps">
      </category>
      <wizard
            category="com.onpositive.mapper.mapCategory"
            class="com.onpositive.mapper.newwizard.NewTMXWizard"
            finalPerspective="com.onpositive.mapper.perspective"
            hasPages="true"
            icon="icons/tiled-icon-16.gif"
            id="com.onpositive.mapper.tmxwizard"
            name="New TMX file">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.onpositive.mapper.mapEditorContribution"
            targetID="com.onpositive.mapper.editors.MapEditor">
         <action
               class="com.onpositive.mapper.actions.MovePointerStateAction"
               icon="icons/move-16.png"
               id="com.onpositive.mapper.moveAction"
               label="Move"
               style="radio"
               toolbarPath="normal/additions">
         </action>
         <action
               class="com.onpositive.mapper.actions.DrawPointerStateAction"
               icon="icons/pencil-16.png"
               id="com.onpositive.mapper.drawAction"
               label="Draw"
               style="radio"
               toolbarPath="normal/additions"
               tooltip="Draw">
         </action>
         <action
               class="com.onpositive.mapper.actions.ErasePointerStateAction"
               icon="icons/eraser-16.png"
               id="com.onpositive.mapper.eraseAction"
               label="Erase"
               style="radio"
               toolbarPath="normal/additions">
         </action>
         <action
               class="com.onpositive.mapper.actions.FillPointerStateAction"
               icon="icons/bucket-fill-16.png"
               id="com.onpositive.mapper.fillAction"
               label="Fill"
               style="radio"
               toolbarPath="normal/additions">
         </action>
         <action
               class="com.onpositive.mapper.actions.EyedropPointerStateAction"
               icon="icons/color-picker-16.png"
               id="com.onpositive.mapper.eyedrop"
               label="Eye Dropper"
               style="radio"
               toolbarPath="normal/additions">
         </action>
         <action
               class="com.onpositive.mapper.actions.MarqeePointerStateAction"
               icon="icons/rect-select-16.png"
               id="com.onpositive.mapper.select"
               label="Rectangular Selection"
               style="radio"
               toolbarPath="normal/additions">
         </action>
         <action
               class="com.onpositive.mapper.actions.AddObjectPointerStateAction"
               icon="icons/addobj-16.gif"
               id="com.onpositive.mapper.addObjAction"
               label="Add Object"
               style="toggle"
               toolbarPath="additions">
         </action>
         <action
               class="com.onpositive.mapper.actions.RemoveObjPointerStateAction"
               icon="icons/removeobj-16.gif"
               id="com.onpositive.mapper.removeObjAction"
               label="Remove Object"
               style="toggle"
               toolbarPath="additions">
         </action>
         <action
               class="com.onpositive.mapper.actions.MoveObjectPointerStateAction"
               icon="icons/object-move-16.png"
               id="com.onpositive.mapper.moveObjAction"
               label="Move Object"
               style="toggle"
               toolbarPath="additions">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.onpositive.mapper.tilesetViewContribution"
            targetID="com.onpositive.mapper.views.TilesetView">
         <action
               class="com.onpositive.mapper.actions.AddTilesetAction"
               icon="icons/add.png"
               id="com.onpositive.mapper.addTileset"
               label="Add Tileset"
               style="push"
               toolbarPath="basic">
         </action>
         <action
               class="com.onpositive.mapper.actions.RemoveTilesetAction"
               icon="icons/remove.gif"
               id="com.onpositive.mapper.removeTileset"
               label="Remove Tileset"
               style="push"
               toolbarPath="basic">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="tiled.core.MapObject"
            class="com.onpositive.mapper.adapters.PropAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
